<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <title>Flask Parent Template</title>
      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/templateX.css') }}">      
      
   </head>
   <body>
      <header>
         <div class="container-fluid">
                          

                  <h1 class="logo" align='center' class='text-center' style="border: none; margin-bottom: 0px; margin-right: 0px; margin-left: 0px;"><a  href={{ url_for('home') }}> Identify similar metabolic pathways and enzyme clusters using latent Dirichlet allocation (LDA) </a></h1>
      
         
      
	 </div>
      </header>
      <div class="container">
         <div class="card border" style="border-color: solid black; margin-top:20px">
            <div class="card-body" style="background-color: white; height: 60rem;">
               <h3 class="font-weight-light">Result</h3>
	       <p class="lead">Please try FastText, one or more enzymes not in training set</p>
            </div>
         </div>
      </div>
   </body>
<footer>
<div class="container-fluid">
  <p class="logo1" align='center' class='text-center' style="border: none; margin-bottom: 0px; margin-right: 0px; margin-left: 0px;">&copy; Copyright 2020, Sai J. Ganesan (ganesans@salilab.org)</p>
        </div>
</footer>
</html>