<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <title>Flask Parent Template</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/templateX.css') }}">
   </head>
   <body>
      <header>
         <div class="container-fluid">
            <h1 class="logo" align='center' class='text-center' style="border: none; margin-bottom: 0px; margin-right: 0px; margin-left: 0px;">Identify similar metabolic pathways and enzyme clusters using latent Dirichlet allocation (LDA)</h1>
         </div>
      </header>
      <div class="container">
         <div class="card border" style="border-color: solid black; margin-top:20px">
            <div class="card-body" style="background-color: white; height: 60rem;">
               <h3 class="font-weight-light" align='center'>Similar metabolic networks: LDA</h3>
               <form action=""  method="POST">
                  <div class="form-group">
                     <label for="exampleInputName1">Enter list of enzymes</label>
                     <input type="text" class="form-control" id="exampleInputName1" placeholder="list" name="list" value="{{request.form.list}}">
                     <small id="Help" class="form-text text-muted">The enzyme list should be comma separated, eg: 'ec:1.2.3.4,ec:2.3.4.44,ec:3.1.23.1' </small>
                  </div>
                  <input type="submit" class="btn btn-primary" value="Get similar networks">
               </form>
            </div>
         </div>
      </div>
   </body>
</html>
